<div class="bg-white p-10 rounded-lg shadow-md text-center">
    <h1 class="text-4xl font-bold text-gray-800 mb-4">Bienvenido a Countries App</h1>
    <p class="text-gray-600 mb-8">Gestioná información sobre paises de habla hispana .</p>
    <div class="flex justify-center gap-4">
        <a href="/api/countries" class="bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-6 rounded-lg">
            Ver Dashboard
        </a>
        <a href="/api/countries/create" class="bg-green-600 hover:bg-green-700 text-white font-semibold py-2 px-6 rounded-lg">
            Agregar País
        </a>
    </div>
</div>